<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
		<div class="container"></div>
		<% include partials/content/chat.ejs %>
		
 
	<% include partials/template/jsdefaults.ejs %>
	<% include partials/template/footer.ejs %>
	
	<%  if ( typeof name != 'undefined' ){ %>
		<div><%= name %></div>
	<% } %>
  </body>
</html>
